<div class="section" id="future">
    <div class="container">
        <div class="h4 text-center mb-4 title">Come Meet Us</div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <img src="../../../assets/images/blog.jpeg" class="event" onmouseover="this.src='../../../assets/images/chain.jpeg'" onmouseout="this.src='../../../assets/images/blog.jpeg'">
                        
                    </div>
                    <div class="col-6">
                        <div class="line">
                        <h4>Student for a day</h4>
                        </div>
                        <p>
                            Would you like to know more about LaSalle College? If you are finishing high school soon or you see yourself starting a DEC in the near future, this day is for you.
                            The “Student for a Day” activity will give you the chance to visit our campus in addition to offering you the chance to network with students, instructors and other representatives of LaSalle College who will answer any questions you may have about our programs of study and student life.
                            This very full day will help you tremendously in deciding your program of study.
                            See the “Student for a Day” page for the date of our next activity!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="line">
                    <h4>School Visits</h4>
                </div>
                <p>
                    You can’t visit LaSalle College? A representative of our college can visit you.
                    If you are a secondary 5 student and would like to learn more about LaSalle College, our team visits high schools across Quebec in order to provide you with information on our programs and help you understand the options that are available to you.
                    For information on orientation days at your school, contact your academic counsellor.

                </p>

            </div>
            <div class="col-6">
                <img src="../../../assets/images/learning.jpeg" class="event" onmouseover="this.src='../../../assets/images/chain.jpeg'" onmouseout="this.src='../../../assets/images/learning.jpeg'">

            </div>
        </div>
    </div>
</div>
