<div class="section" id="about">
    <div class="container">
        <div class="h4 text-center mb-4 title">About Us</div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                      Who we are
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            University of Montreal is one of Canada's best-known institutions of higher learning and one of the leading universities in the world. With students coming to McGill from over 150 countries, our student body is the most internationally diverse of any research-intensive university in the country. 
                        </p>
                      
                    </div>
                    <div class="card-header">
                         A Tradition of Success
                        </div>
                      <div class="card-body">
                          <p class="card-text">
                            University of Montreal is recognized around the world for the excellence of its teaching and research programs. Ernest Rutherford's Nobel Prize-winning research on the nature of radioactivity was conducted at McGill, part of a long tradition of innovation on our campuses that includes the invention of the artificial blood cell and Plexiglas. Today our professors are building the new field of epigenetics, developing alternative energy sources from crop plants and driving human achievement in every field imaginable.
                          </p>
                        </div>
                      <div class="card-header">
                        The Best and Brightest
                    </div>
                      <div class="card-body">
                          <p class="card-text">
                            In addition to a stellar faculty, McGill is known for attracting the brightest students from across Canada, the United States, and around the world. McGill students have the highest average entering grades in Canada, and our commitment to fostering the very best has helped our students win more national and international awards on average than their peers at any other Canadian university. The prestigious Rhodes Scholarship has gone to a nation-leading 145 McGill students.</p>
                        </div>
                  </div>

            </div>
        <div class="col-lg-6">
            <div class="flex-container">
                <div>Knowledge</div>
                <div>Ethics</div>
                <div>Technology</div>
                <div>Integration</div>
                <div>Emerge</div>
            </div>
        </div>
    </div>
    </div>

</div>