<div class="sextion" id="programs">
  <div class="container">
    <div class="h4 text-center mb-4 title">Programs</div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">

          <div class="card-body">

            <p class="card-text">LCA.EM Business Analyst of Information Technology</p>

          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">

          <div class="card-body">

            <p class="card-text">LEA.CX Web Development and Digital Marketing</p>

          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">

          <div class="card-body">

            <p class="card-text">LEA.CK Specialization - Programmer Analyst </p>

          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">

          <div class="card-body">

            <p class="card-text">LEA.CL Networking and Technical Support </p>

          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">

          <div class="card-body">

            <p class="card-text">LEA.CV Business Intelligence and Visualization Analyst</p>


          </div>
          </div>
      </div>

          <div class="col-md-4">
            <div class="card" style="width: 18rem;">

              <div class="card-body">

                <p class="card-text"> LEA.CW Software Testing </p>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>