<div class="section" id="contact">
<div class="container">
    <div class="h4 text-center mb-4 title">Contact Us</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <form>
                            <p></p>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="Name">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="Email">
                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <textarea class="form-control" type="message" name="message" placeholder="Your message">
                                    </textarea>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="title">
                            Phone Number:

                        </h4>
                        <p class="detail">5145673214</p>
                        <h4 class="title">
                            Email:
                        </h4>
                        <p class="detail">greeshmaminan@gmail.com</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>